<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Customize</h4>
</div>
<div class="modal-body">
  <form class="" action="#" method="post">
    <div class="form-group">
      <label>Primary Color</label>
      <input ng-model="$ctrl.color1" class="form-control" type="color" name="color">
    </div>
    <div class="form-group">
      <label>Secondary Color</label>
      <input ng-model="$ctrl.color2" class="form-control" type="color" name="color">
    </div>
    <div class="form-group">
      <label>Background Color</label>
      <input ng-model="$ctrl.color3" class="form-control" type="color" name="color">
    </div>
  </form>
  <button class="btn" type="button" name="button" ng-click="$ctrl.changeLayout(1)">View 1</button>
  <button class="btn" type="button" name="button" ng-click="$ctrl.changeLayout(2)">View 2</button>
  <button class="btn" type="button" name="button" ng-click="$ctrl.changeLayout(3)">View 3</button>
</div>

<div class="modal-footer">
  <button type="button" id="closeCustomize" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" id="saveCustomize" class="btn btn-primary" ng-click="$ctrl.saveUserParams()">Save changes</button>
</div>
