(function() {

  var config = {
    routes: {
      quote: {
        view: 'http://quotes.rest/qod.json',
      },
      schedule: {
        view: 'http://localhost/motherbeardashboard/calendar.php',
      },
      weather: {
        view: 'http://api.openweathermap.org/data/2.5/weather',
      },
      user: {
        login: 'http://localhost/motherbeardashboard/login.php',
        logout: 'http://localhost/motherbeardashboard/logout.php',
      },
      preference: {
        view: 'http://localhost/motherbeardashboard/getPreferences.php',
        update: 'http://localhost/motherbeardashboard/updatePreferences.php'
      }
    },
    keys: {
      weather: 'ddd84a4441bdebf3df5df4140cae463a'
    },
    preferences: {
      weather: {
        unit: 'imperial',
        q: 'Kutztown',
      }
    }
  }

  angular
    .module('app')
    .constant('config', config);
})()
