<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mother Bear Dashboard</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/Supernice.css" rel="stylesheet">
  </head>
  <body ng-app="app" ng-controller="loginController as loginctl">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Mother Bear Dashboard</a>
        </div>
        <ul class="nav navbar-nav navbar-right" ng-show="loginctl.loggedIn">
          <li role="presentation"><button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#customizeModal">Customize</button></li>
          <li role="presentation"><a href="#" ng-click="loginctl.logoutUser()">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row" ng-hide="loginctl.loggedIn">
        <div class="col-md-offset-4 col-md-4">
          <div class="panel panel-default ">
            <div class="panel-heading">
              <h3 class="panel-title">Authenicate</h3>
            </div>
            <div class="alert alert-warning" ng-show="loginctl.message">
              {{loginctl.message}}
            </div>
            <form class="panel-body" method="get" ng-submit="loginctl.loginUser()">
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" placeholder="Email"
                  name="email" ng-model="loginctl.email" autofocus>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password"
                  placeholder="Password" name="password"
                  ng-model="loginctl.password">
              </div>
              <button type="submit" class="btn btn-default">Login</button>
            </form>
          </div>
        </div>
      </div>
      <div ng-show="loginctl.loggedIn">
        <layout1-view ng-show="loginctl.layout == 1"></layout1-view>
        <layout2-view ng-show="loginctl.layout == 2"></layout2-view>
        <layout3-view ng-show="loginctl.layout == 3"></layout3-view>
      </div>
    </div>

    <div class="modal fade" id="customizeModal" tabindex="-1" role="dialog" aria-labelledby="customizeModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <preference-modal></preference-modal>
        </div>
      </div>
    </div>

    <!--
      Known work around for working with jQuery with Node/CommonJS + Browser environment
      https://stackoverflow.com/a/38556376 21/13/17
    -->

    <script>window.jQuery = window.$ = require('./js/jquery.min.js')</script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/angular.min.js"></script>
    <script src="./js/app/app.module.js"></script>
    <script src="./js/app/login.controller.js"></script>
    <script src="./js/app/broadcast.service.js"></script>
    <script src="./js/app/prefence-modal/prefence-modal.component.js"></script>
    <script src="./js/app/time-panel/time-panel.component.js"></script>
    <script src="./js/app/time-panel/time.service.js"></script>
    <script src="./js/app/weather-panel/weather-panel.component.js"></script>
    <script src="./js/app/weather-panel/weather.service.js"></script>
    <script src="./js/app/quote-panel/quote-panel.component.js"></script>
    <script src="./js/app/quote-panel/quote.service.js"></script>
    <script src="./js/app/schedule-panel/schedule-panel.component.js"></script>
    <script src="./js/app/schedule-panel/schedule-panel.filter.js"></script>
    <script src="./js/app/schedule-panel/schedule.service.js"></script>
  </body>
</html>
