<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mother Bear Dashboard</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/Supernice.css" rel="stylesheet">
  </head>
  <body ng-app="app" ng-controller="loginController as loginctl">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Mother Bear Dashboard</a>
        </div>
        <ul class="nav navbar-nav navbar-right" ng-show="loginctl.loggedIn">
          <li role="presentation"><a href="#">Customize</a></li>
          <li role="presentation"><a href="#" ng-click="loginctl.logoutUser()">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row" ng-hide="loginctl.loggedIn">
        <div class="col-md-offset-4 col-md-4">
          <div class="panel panel-default ">
            <div class="panel-heading">
              <h3 class="panel-title">Authenicate</h3>
            </div>
            <div class="alert alert-warning" ng-show="loginctl.message">
              {{loginctl.message}}
            </div>
            <form class="panel-body" method="get" ng-submit="loginctl.loginUser()">
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" placeholder="Email"
                  name="email" ng-model="loginctl.email" autofocus>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password"
                  placeholder="Password" name="password"
                  ng-model="loginctl.password">
              </div>
              <button type="submit" class="btn btn-default" ng-click="loginctl.loginUser()">Login</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row" ng-show="loginctl.loggedIn">
        <div class="col-xs-12 col-md-4">
          <weather-panel></weather-panel>
        </div>
        <div class="col-xs-12 col-md-4">
          <schedule-panel></schedule-panel>
        </div>
        <div class="col-xs-12  col-md-4">
          <time-panel></time-panel>
        </div>
      </div>
      <div class="row" ng-show="loginctl.loggedIn">
        <div class="col-xs-12">
          <quote-panel></quote-panel>
        </div>
      </div>
    </div>
    <!--
      Known work around for working with jQuery with Node/CommonJS + Browser environment
      https://stackoverflow.com/a/38556376 21/13/17
    -->
    <script>window.jQuery = window.$ = require('./js/jquery.min.js')</script>
    <script>require("./js/bootstrap.min.js")</script>
    <script>require("./js/angular.min.js")</script>
    <script>require("./js/app/app.module.js")</script>
    <script>require("./js/app/login.controller.js")</script>
    <script>require("./js/app/time-panel/time-panel.component.js")</script>
    <script>require("./js/app/weather-panel/weather-panel.component.js")</script>
    <script>require("./js/app/quote-panel/quote-panel.component.js")</script>
    <script>require("./js/app/schedule-panel/schedule-panel.component.js")</script>
    <script>require("./js/app/schedule-panel/schedule-panel.filter.js")</script>
  </body>
</html>
