body {
  background-color: #cec7bf;
}

.navbar-default {
  background-color: #B6a268;
}

.navbar-default {
  color: #dcdcdc !important;
}

.panel-default {
  color: #701931;
}

.panel-default h3{
  color: #701931;
  text-align: center;
}
